//GENERAL
$h2-color: #244F85;
$h3-color: white;
$h4-color: #545E67;
$h5-color: #545E67;
$h6-faq-color: #4377B9; 
$p-color: #666667;

$color-azul: #003f6d;
$color-gris: #4a4a4a;



//MENU
$menu-1-bg: #0A4486;
$menu-1-bg: #355e8b;
$menu-1-co: #B2BFCC;
$navbar-bg: #19487b;
$navbar-bg-transp: rgba(7, 64, 127, 0.8);
$navbar-co: #FFFFFF;
$navbar-active: #31B6E8;
$navbar-img-src: "../img/logo-bancoChile.png";
$navbar-img-toggle-src: "../img/menu.png";
$menu-mobile: #e7e9ed;



//FOOTER
$footer-bg: #003771;
$footer-co: #FFFFFF;
$footer-p-co: #B2BFCC;
$footer-caja-banco-bg: #0D498D;
$footer-caja-banco-img-src: "../img/logo-bancoChile.png";



// MEDIA QUERIES
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 990px)";
$mobile-y-tablet: "(max-width: 990px)";
$desktop: "(min-width: 991px)";